.masklayerbox{
    display: none;
    font-size: 20px;
}
/* 带有遮罩层的盒子 */
.masklayerbox-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
}

.masklayerbox form {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.masklayerbox-container {
    position: absolute;
    width: 800px;
    height: 480px;
    border-radius: 10px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(225,225,228);
    z-index: 9999;
}

.masklayerbox-title {
    border-top: 3px solid red;
    margin-top: 64px;
    padding-top: 8px;
    height: 64px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: rgb(83, 83, 78);
}

.masklayerbox-content {
    margin: 0 auto;
    margin-top: 48px;
    width: 320px;
    font-weight: bold;
}

.masklayerbox-input {
    width: 160px;
    height: 24px;
    border: 2px solid black;
    font-size: 15px;
    text-indent: 8px;
}

.masklayerbox-close {
    position: absolute;
    top: -16px;
    right: -16px;
    width: 1.25em;
    height: 1.25em;
    border-radius: 8px 8px 8px 0;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    background-color: rgb(235, 230, 230);
    cursor: pointer;
}

.masklayerbox-btn {
    display: block;
    width: 96px;
    height: 32px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 56px;
    background-color: rgb(245, 43, 0);
    cursor: pointer;
}

.masklayerbox-container label {
    font-size: 1em;
}

.masklayerbox-info{
    height: 18px;
    margin-top: 8px;
    margin-bottom: -26px;
    text-align: center;
    color: red;
    font-size: 10px;
    background-color: rgb(255, 255, 255);
    display: none;
}