        .loadingBg {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            z-index: 999;
            display: none;
        }

        .loadingBox {
            position: absolute;
            width: 800px;
            height: 480px;
            border-radius: 10px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: rgb(225, 225, 228);
        }

        .loadingBox .loadingClose {
            position: absolute;
            top: -16px;
            right: -16px;
            width: 40px;
            height: 40px;
            border-radius: 8px 8px 8px 0;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            background-color: rgb(235, 230, 230);
            cursor: pointer;
        }

        
        .loadingBox form {
            width: 400px;
            margin: 0 auto;
            text-align: right;
        }

        .loadingTitle {
            border-top: 3px solid red;
            margin: 0 auto;
            margin-top: 64px;
            padding-top: 8px;
            height: 64px;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
            color: rgb(83, 83, 78);
        }

        .loadingInfo{
            height: 23px;
            margin-top: 10px;
            margin-bottom: -33px;
            text-align: center;
            color: red;
            background-color: #fff;
            display: none;
        }

        .loadingBox .userMsg {
            margin-top: 48px;
            width: 320px;
            font-weight: bold;
        }


        .loadingBox .label {
            font-size: 16px;
            margin-right: 8px;
        }

        .loadingBox input {
            width: 160px;
            height: 24px;
            border: 2px solid black;
            font-size: 15px;
            text-indent: 8px;
        }

        .loadIn{
            display: block;
            width: 96px;
            height: 32px;
            font-size: 16px;
            color:white;
            border-radius: 5px;
            margin: 0 auto;
            margin-top: 56px;
            background-color: rgb(245,43,0);
            cursor: pointer;
        }

        .main {
            transform-style: preserve-3d;
            perspective: 500px;
            background-color: rgba(0, 0, 0, .1);
            user-select: none;
            margin-top: 10px;
            width: 1420px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .head {
            margin: 50px auto;
            padding: 30px;
            border-radius: 10px;
            border: 1px solid black;
            border-left: 10px solid rgb(113, 148, 224);
            text-align: center;
            font-size: 25px;
        }

        .aside {
            width: 100px;
            height: 500px;
            background-color: red;
            float: right;
        }

        .mainsection {
            width: 752px;
            background: rgba(93, 78, 78, 0.1);
            text-align: center;
            border-top: 2px solid rgb(143, 93, 93);
        }

        .mainsection span {
            font-weight: 700;
            font-size: 30px;
        }

        .game {
            position: relative;
            width: 600px;
            height: 300px;
            background-color: rgb(123, 125, 127);
            margin: 0 auto;
            overflow: hidden;
            border: 5px solid rgb(179, 153, 153);
        }

        .gameList {
            position: absolute;
            width: 2400px;
        }

        .gameList li {
            float: left;
            background-color: rgb(120, 119, 119);
        }

        .gameList li a {
            position: relative;
            display: block;
            width: 600px;
            height: 300px;
        }

        .gameList li .game1 {
            background-image: url('../image/Pacific\ Thunder.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .gameList li .game2{
            background-image: url('../image/Greedy\ Snake.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .gameList li a .pfTd {
            height: 100px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }

        .gameList li a .play {
            position: absolute;
            line-height: 300px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            font-size: 50px;
            color: rgb(112, 129, 145);
            text-align: center;
            font-weight: bold;
            animation: paly 2s infinite linear;
        }

        .game-button {
            position: absolute;
            margin: 0 auto;
            background-color: rgb(64, 64, 64);
        }

        .game-button li {
            float: left;
            width: 10px;
            height: 10px;
            margin: 5px;
            border-radius: 7px;
            border: 2px solid white;
        }

        .game-button li:hover {
            width: 12px;
            height: 12px;
            margin: 4px;
            border-radius: 8px;
            cursor: pointer;
        }

        .game-button .selected {
            background-color: white;
        }

        @keyframes paly {

            /* 开始状态 */
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1)
            }
        }

        .page {
            position: relative;
            width: 700px;
            margin: auto;
            background-color: rgba(118, 118, 118, .5);
            border: 6px dotted rgb(152, 113, 113);
            perspective: 2000px;
        }

        .page .iconfont {
            font-size: 20px;
            border-bottom: 4px double rgba(126, 124, 124, .8);
        }
        .study{
            position: relative;
            width: 700px;
            height: 570px;
            margin: auto;
            transform-style: preserve-3d;
        }
        .study a {
            position: absolute;
            left: 0;
            right: 0;           
            width: 140px;
            height: 400px;
            margin: auto;
            margin-top: 80px;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
            background-color: rgb(154, 152, 152);
        }
        .study a:nth-child(1){
            transform:  translateZ(180px);
        }
        .study a:nth-child(2){
            transform:  rotateY(60deg) translateZ(180px);
        }
        .study a:nth-child(3){
            transform:  rotateY(120deg) translateZ(180px);
        }
        .study a:nth-child(4){
            transform:  rotateY(180deg) translateZ(180px);
        }
        .study a:nth-child(5){
            transform:  rotateY(-120deg) translateZ(180px);
        }
        .study a:nth-child(6){
            transform:  rotateY(-60deg) translateZ(180px);
        }
        .study .text {
            width: 70px;
            font-size: 40px;
            text-align: center;
            color: black;
            margin: 0 auto;
        }
        .page .buttonL,.page .buttonR{
            position: absolute;
            top: 280px;
            left: 10px;
            width: 50px;
            height: 80px;
            line-height: 80px;
            font-size: 50px;
            background-color: rgba(146, 140, 140, 0.5);
            outline: 1px solid black;
            cursor: pointer;
        }
        .page .buttonR{
            left: auto;
            right: 10px;
        }
        .page .enter{
            width: 200px;
            height: 50px;
            line-height: 50px;
            background-color: rgba(72, 184, 167,.5);
            margin: 0 auto;
            margin-bottom: 10px;
        }