        .loadingBg {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            z-index: 999;
            display: none;
        }

        .loadingBox {
            position: absolute;
            width: 1000px;
            height: 600px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-color: rgb(255, 255, 255);
        }

        .loadingBox .loadingClose {
            position: absolute;
            top: -20px;
            right: -20px;
            width: 50px;
            height: 50px;
            border-radius: 10px 10px 10px 0;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            background-color: #fff;
            cursor: pointer;
        }

        .loadingTitle {
            border-top: 3px solid red;
            margin: 0 auto;
            margin-top: 30px;
            height: 80px;
            text-align: center;
            font-weight: bold;
            font-size: 50px;
            color: rgb(83, 83, 78);
        }

        .loadingBox form {
            width: 500px;
            margin: 0 auto;
            text-align: right;
        }

        .loadingBox .userMsg {
            margin-top: 100px;
            width: 400px;
            font-weight: bold;
        }

        .loadingBox .label {
            font-size: 20px;
            margin-right: 10px;
        }

        .loadingBox input {
            width: 200px;
            height: 30px;
            border: 2px solid black;
        }

        .main {
            height: 1240px;
            transform-style: preserve-3d;
            perspective: 500px;
            background-color: rgba(0, 0, 0, .3);
            user-select: none;
            margin-top: 10px;
        }

        .page {
            width: 740px;
            height: 800px;
            background-color: rgba(118, 118, 118, .5);
            transition: 2s;
            border: 6px dotted rgb(152, 113, 113);
            margin: 0 auto;
        }

        .page .iconfont {
            font-size: 20px;
            border-bottom: 4px double rgba(126, 124, 124, .8);
        }

        .page a {
            float: left;
            display: block;
            width: 140px;
            height: 500px;
            margin: 100px auto;
            margin-right: 10px;
            transition: 1s linear;
            transform: rotateY(-60deg);
        }

        .page a:first-of-type {
            margin-right: 0;
        }

        .page .text {
            width: 70px;
            font-size: 50px;
            text-align: center;
            color: black;
            margin: 0 auto;
        }

        .page:hover a {
            transform: rotateY(0);
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
            background-image: linear-gradient(rgba(141, 149, 139, 0.5), rgba(174, 206, 168, 0.2));
        }


        .game {
            position: relative;
            width: 600px;
            height: 300px;
            margin: 0 auto;
            background-color: rgb(123, 125, 127);
            overflow: hidden;
        }

        .game .gameList {
            position: absolute;
            width: 2400px;
        }

        .game li {
            float: left;
            background-color: rgb(120, 119, 119);
        }

        .game li a {
            position: relative;
            display: block;
            width: 600px;
            height: 300px;
        }

        .game li .game1 {
            background-image: url('../image/Pacific\ Thunder.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .game li a .pfTd {
            height: 100px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }

        .game li a .play {
            position: absolute;
            line-height: 300px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            font-size: 50px;
            color: rgb(112, 129, 145);
            text-align: center;
            font-weight: bold;
            animation: paly 2s infinite linear;
        }

        @keyframes paly {

            /* 开始状态 */
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1)
            }
        }