.mainbox{
    position: absolute;
    width: 960px;
    height: 680px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.myHtml{
    width: 304px;
    height: 320px;
    padding-left: 16px;
    font-size: 16px;
    box-shadow: 1px 1px 5px rgba(70, 65, 65,.5);
    border-radius: 32px;
    resize: none;
    outline: none;
    background-color: rgba(123, 136, 142, 0.5);
    overflow: hidden;
}

.htmlExplain{
    position: absolute;
    width: 480px;
    height: 320px;
    top: 0;
    right: 0;
    border-radius: 32px;
    box-shadow: 2px 2px 5px rgb(125, 115, 115);
    background-color: rgba(123, 123, 143, 0.5);
}
.htmlExplain div{
    position: absolute;
    width: 64px;
    line-height: 18px;
    top: 0;
    left: 0;
    font-size: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 10px;
}
.htmlExplain div:not(:first-child){
    height: 0;
}
.flow{
    position: absolute;
    width: 480px;
    height: 160px;
    bottom: 80px;
    left: 0;
    background-color: rgba(255, 255, 0,.5);
}
.rendering{
    position: absolute;
    width: 320px;
    height: 320px;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 128, 0,.5);
}